/*--Css Boton registro--*/
button{
    text-align: center;
    border-color: springgreen;
    /*background-color: limegreen;*/
    margin: 0px 10px 10px -5px;
    padding: 0px 10px 0px 10px;
    width: 200px;
    color: limegreen;
    cursor: pointer;
}

#buttonreg_nav:hover{
    background-color:rgb(44, 175, 32);
    color: linen;
    border-color:rgb(13, 70, 8);
}
/*--Css Boton registro--*/

/*Comprobacion de ajuste para el menu*/
aside{
    width: 300px;
}

#nav_drawer{
    width: 200px;
    height: 300px;
    background-color: lightgrey;
    padding: 10px;
    border-style: solid;
    border-color: grey;
}

button:hover{
    background-color:rgb(44, 175, 32);
    color: linen;
    border-color:rgb(13, 70, 8);   
}

/*Aspectos Generales*/
header{
    text-align: center;
    background-color: green;
    color: honeydew;
    margin: 5px;
    padding: 10px;
}

.columna {
    text-align: center;
  }
  
.columna>button{
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
}

  footer {
    padding: 10px 50px 10px 50px;
    background-color: green;
    color: honeydew;
  }
  
  
  @media (max-width: 500px) {
    
    footer>div {
      width:auto;
      float:none;
    }
  }

  i{
      font-size: 50px;
  }
/*Aspectos Generales*/

*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  .formRegistro {
      width:400px;
      padding: 30px;
      margin: auto;
      margin-top: 100px;
      border-radius: 4px;
      font-family:'Calibri'; 
      color: black;
      background-image: linear-gradient(to right, #dae2f8, #d6a4a4);
  }
  
  .formRegistro h4{
      font-size: 22px;
      margin-bottom: 20px;
      
  }
  
  .controls {
      width:100%;
      background: linear-gradient(to right, #dae2f8, #d6a4a4);
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 1px solid #1f53c5;
      font-family: 'calibri';
      font-size: 18px;
  }
  
  .formRegistro p {
      height: 40px;
      text-align: left;  
      font-size: 18px;
  }
      
  .radiobuttons {
      margin-bottom: 20px;
  }